{%extends 'base.html' %}

{% block title %}
    <title>yoga登录</title>
{% endblock %}

{% block script%}
    <script>
        $(document).ready(function(){
            $("#id_username").addClass("form-control");
            $("#id_password").addClass("form-control");
        });
    </script>
    <style type="text/css">
        .bg{
            margin-top: 120px;
			height: 300px;
        }

    </style>

{% endblock %}

{% block content %}
<div class="container bg">
    <div class="jumbotron">
        <form method="post" action="" class="form-horizontal">
            {%csrf_token%}
            <fieldset style="border:true;">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <legend >Login:</legend>
                    </div>
                </div>
                {% for item in loginForm %}
                 <div class="row">
                    <div class="col-sm-1 col-sm-offset-4">
                     {{item.label}}
                    </div>
                    <div class="col-sm-2">
                        <font color="black">{{item}}</font>
                    </div>
                 </div>
                {% endfor %}
                {%if loginForm.non_field_errors%}
                    <div class="ErrorMessage">{{loginForm.non_field_errors}}</div>
                {%endif%}
                 <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <input class="btn btn-info" type="submit" value="Submit">
                    </div>
                 </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
