{% extends 'base.html' %}

{% block title %}
    <title>注册</title>
{% endblock %}

{% block script %}
<script type="text/javascript">
$().ready(function() {
  $("#signupForm").validate({
	    rules: {
	      username: {
	        required: true,
	        minlength: 2
	      },
	      password: {
	        required: true,
	        minlength: 5
	      },
	      confirmPassword: {
	        required: true,
	        minlength: 5,
	        equalTo: "#password"
	      },
	    },
	    messages: {
	      username: {
	        required: "请输入用户名",
	        minlength: "用户名必需由两个字母组成"
	      },
	      password: {
	        required: "请输入密码",
	        minlength: "密码长度不能小于 5 个字母"
	      },
	      confirmPassword: {
	        required: "请输入密码",
	        minlength: "密码长度不能小于 5 个字母",
	        equalTo: "两次密码输入不一致"
	      },
	    }
	});
});
</script>
<style>
.error{
	color:red;
}
</style>
<style type="text/css">
        .bg{
            margin-top: 120px;
			height: 300px;
        }
</style>

{% endblock %}

{% block content %}
<div class="container bg">
    <div class="jumbotron">
        <form method="post" action="" class="form-horizontal">
            {%csrf_token%}
            <fieldset style="border:true;">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <legend >Join us:</legend>
                    </div>
                </div>
                {% for item in registerForm %}
                 <div class="row">
                    <div class="col-sm-1 col-sm-offset-4">
                     {{item.label}}
                    </div>
                    <div class="col-sm-2">
                        <font color="black">{{item}}</font>
                    </div>
                 </div>
                {% endfor %}
                {%if loginForm.non_field_errors%}
                    <div class="ErrorMessage">{{loginForm.non_field_errors}}</div>
                {%endif%}
                 <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <input class="btn btn-info" type="submit" value="注册">
                    </div>
                 </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
