{%extends 'base.html' %}

{% block title%}<title></title>{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<style type="text/css">
         .dumu-tab{
             margin-top: 80px;
          }
      </style>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">主页</a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar">

              <ul class="nav navbar-nav">
				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">课程<span class="caret"></span></a>
                  <ul class="dropdown-menu" id = "nav-trainer">
                    <li><a href="/">课程购买</a></li>
                      <li role="separator" class="divider"></li>
                    <li><a href="/course/customercourse/">我的课程</a></li>
                  </ul>
                </li>

				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">预约<span class="caret"></span></a>
                  <ul class="dropdown-menu" >
                    <li><a href="#home">我的预约</a></li>
                      <li role="separator" class="divider"></li>
                    <li><a href="#profile">预约课程</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">订单<span class="caret"></span></a>
                  <ul class="dropdown-menu" >
                    <li><a href="/purchasecourse/myrecord/unpaid/">未支付订单</a></li>
                      <li role="separator" class="divider"></li>
                    <li><a href="/purchasecourse/myrecord/paid/">已支付订单</a></li>
                  </ul>
                </li>

                <li><a href="/">身体评估</a></li>

              </ul>
				{% block searchform %}{% endblock %}
				<!--<form class="navbar-form navbar-left" method="post" action="">-->
                  <!--{%csrf_token%}-->
                <!--<div class="form-group">-->
                  <!--<input type="text" class="form-control" name="search" placeholder="Course">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Search</button>-->
              <!--</form>-->

              <ul class="nav navbar-nav navbar-right">
				  {% block logout %}
                <li><a href="/customerinformation/">你好~{{username}}</a></li>
                <li><a href="/login/logout/">退出</a></li>
				  {% endblock %}
              </ul>

            </div>
          </div>
	</nav>
{% endblock %}

{% block button0 %}
	<a href="/course/{{item.courseid}}/" class="btn btn-primary" role="button">购买</a></p>
{% endblock %}


{% block button1 %}
<a href="/course/{{item1.courseid}}/" class="btn btn-primary" role="button">购买</a></p>
{% endblock %}

{% block button2 %}
<a href="/course/{{item2.courseid}}/" class="btn btn-primary" role="button">购买</a></p>
{% endblock %}