{%extends 'customerbase.html' %}

{% block title %}
    <title>课程</title>
{% endblock %}

{% block script%}

     <style type="text/css">
         .dumu-tab{
             margin-top: 80px;
          }

      </style>


{% endblock %}



{% block content %}
  <div class="container dumu-tab">
            <div class="row row-offcanvas row-offcanvas-right">
               <div class="col-xs-12 col-sm-9">
                    <div class="panel panel-default">
                      <div class="panel-heading">我的课程</div>
                      <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>课程id</th>
                            <th>课程名</th>
                            <th>课程教练</th>
                            <th>课程数量</th>
                        </tr>
                        </thead>
                            {% for i in coursenametemp  %}
                        <div >
                            <tr>
                                <td>
                                    {{ item.courseid }}
                                </td>
                                <td>
                                    {{ item.coursename }}
                                </td>
                                <td>
                                    {{ item.trainer }}
                                </td>
                                <td>
                                    {{ item.courseprice }}
                                </td>
                            </tr>
                            </div>
                        {% endfor %}
                      </table>
                    </div>
               </div>
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                  <div class="list-group">
                    <a href="/" class="list-group-item ">购买课程</a>
                    <a href="/course/customercourse/" class="list-group-item  active">我的课程</a>
                  </div>
                </div>
           </div>
    </div>
{% endblock %}


